*{
    margin: 0;
    padding: 0;
}
.content{
    font-size: 18px;
    margin: 10px 20px;
}
.content h1{
    color :red;
    text-align: center;
}
.content .submit {
    display: flex;
    text-align: center;
    align-items: center;
    padding:10px 20px;
}

.question ul {
    list-style-type: none;
    margin: 10px;
    
}
.question ul li {
    margin: 5px;
}
